.text2 {
  background-color: rgba(0, 0, 0, 0.37);
  width: 100%;
  border-radius: 9px;
  height: fit-content;
}

.sectionoquee {
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  width: 90vw;
  height: 100%;
  margin: 10% auto;
  align-items: center;
  justify-content: center;
}






.p1 h1{
  margin: 5% auto;
  
}

.p1 p {
  color: white;
  max-width: 80%;
}

.p1 {
  padding: 10%;
}



ul {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: left;
  color: white;
  gap: 40px;
  
}


.lista {
    background-color: rgba(137, 43, 226, 0.274);
    padding: 20px;
    border-radius: 9px;
    max-width: 80%;
    
}


.lista p {
    transition: all 0.1s;
}




