body,
html {
  white-space: nowrap;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 0;
  margin: 0;
  background-image: url(./background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

#logo {
    position: relative;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.555);
  width: 100%;
  max-height: 200px;
}

ul {
  list-style: none;
  display: flex;
}

ul a {
    border-radius: 5px;
  color: black;
  width: fit-content;
  background-color: rgb(250, 250, 250);
  text-decoration: none;
  margin: 0px 20px;
  padding: 20px;
  transition: all 0.5s;
}

ul a:hover {
    border: purple solid 1px;
    
}




.button {
  border-radius: 999px;
  background-color: rgba(215, 216, 214, 0.342);
  width: 600px;
  height: 200px;
  transition: all 0.5s;
}

.button p {
    color: rgb(0, 0, 0);
    display: flex;
    text-align:end;
    justify-content: center;
    font-size: 60px;
}

.button:hover {
    color: black;
    background-color: white;
}

a {
    text-decoration: none;
}

#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

section {
  margin: 10% 10%;
}


footer {
    text-align: center;
}

.footerbutton{
    border: none;
    padding: 1%;
    width: 15%;
    color: white;
    background-color: black;
    text-decoration: none;
    transition: all 0.5s;
}

.footerbutton:hover{
    border: none;
    padding: 2%;
    width: 15%;
    border-radius: 10px;
}