body,
html {
  background-color: rgba(0, 0, 0, 0.473);
  background-blend-mode: darken;
  background-image: url(/background.png);
  background-position: center;
  padding: 0;
  margin: 0;
  height: 100vh;
}

/*
* {
  border: solid;
}
*/

#logo {
  width: 300px;
  height: 500px;
  object-fit: contain;
}

#nav {
  width: 100%;
  height: 400px;
  background-color: rgba(250, 250, 250, 0.555);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#caixabotoes {
  margin: 10px;
  padding: 18px;
  gap: 10px;
  display: flex;
  min-width: 250px;
  max-height: 100%;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.button {
  background-color: rgba(0, 0, 0, 0.055);
  color: white;
  text-align: center;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 100px;
  transition: all 1s;
  border-radius: 9px;
  border: 0;
}

.button:active {
  background-color: rgba(22, 22, 22, 0.048);
  color: rgb(255, 255, 255);
}

.button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
  transform: scale(1.1);
}

section {
  display: flex;
  width: 100%;
  height: 800px;
  align-items: center;
  justify-content: center;
}

.buttoncenter {
  width: 500px;
  height: 100px;
  background: white;
}

@media (max-width: 1000px) {
  #nav {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
  }

  .button {
    text-align: center;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    transition: all 0.2s;
  }

  #caixabotoes {
    gap: 10px;
    display: flex;
    min-width: 100px;
    max-height: 200px;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }
}
